.falling-text-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 30px;
}

.falling-text {
  position: absolute;
  font-size: 40px;
  opacity: 0;
  transition: opacity 1s;
  color: #ba8d5b;
}

.falling {
  opacity: 1;
  animation: fallAnimation 3s linear infinite;
}

@keyframes fallAnimation {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
  .falling-text {
    font-size: 20px;
  }
}
